saved-chats/
paint-api/
node_modules/
saved chats/day1_saved_chat.txt
saved chats/day3_saved_chat.txt
saved chats/day4_saved_chat.txt
saved chats/workshop 1/day1_saved_chat.txt
saved chats/workshop 1/day3_saved_chat.txt
saved chats/workshop 1/day4_saved_chat.txt
saved chats/workshop 2/day1-meeting_saved_chat.txt
saved chats/day1_saved_chat.txt
saved chats/day3_saved_chat.txt
saved chats/day4_saved_chat.txt
